.hello-contact {
    color: blue;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

.hello {
    color: red;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}
